@charset "utf-8";

body{
    background-image: url ("/exercicios/2/index/imagens/parede.jpg");
    color: rgba(253, 10, 10);
}
p{
    text-align: justify;
    text-indent:30px;
    text-align: center;
    color: black;
}
h1{
   
}
h2{
    text-align: center;
    font-size: 30px;
}
h3{
    text-align: center;
}
img{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
head{
    align-items: center;
}
/* Formatação de imagens com legendas*/

figure.foto-legenda{
    position: relative;
    border: 8px solid rgb(255, 252, 252);
    box-shadow: 1px 1 px 4px black;
}
figure.foto-legenda img{
width: 100%;
height: 100%
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formatação do Menu */

nav#menu {
    display: block; /* transforma em bloco */ 
}

nav#menu ul{
    list-style: none; /* Tira os marcadores */
    text-transform: uppercase; /* Tudo em maiusculo*/
    position: absolute;
    top: -20px;
    left: 700px;
}

nav#menu li{
    display: inline-block; /* blocos na mesma linha*/
    background-color: #dddddd; /* cor de fundo */
    padding: 10px; /* borda interna */ 
    margin: 2px; /* margin = borda externa */
}

nav#menu h1 {
    display: none; /* esconder */
}
   
