html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

header {
  background: #6a0d90;
  display: flex;
  flex-direction: row;
}

header .icon img {
  margin: 8px 20px;
}

header ul.menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

header ul.menu-item li {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  height: 48px;
  padding: 8px 20px;
  cursor: pointer;
}

header ul.menu-item li i.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 5px;
}

header ul.menu-item li i.icon.meusjobs { background: url(../images/meusjobs.png); }
header ul.menu-item li i.icon.projetos { background: url(../images/projetos.png); }
header ul.menu-item li i.icon.contratos { background: url(../images/contratos.png); }
header ul.menu-item li i.icon.financeiro { background: url(../images/financeiro.png); }

header ul.menu-item li:hover i.icon.meusjobs { background: url(../images/meusjobs-i.png); }
header ul.menu-item li:hover i.icon.projetos { background: url(../images/projetos-i.png); }
header ul.menu-item li:hover i.icon.contratos { background: url(../images/contratos-i.png); }
header ul.menu-item li:hover i.icon.financeiro { background: url(../images/financeiro-i.png); }

header ul.menu-item li:hover {
  background: #ffffff;
  color: #6a0d90;
}

section.cadastro {
  padding: 30px;
}

section.cadastro table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #f0f6fa;
}

section.cadastro table th,
section.cadastro table td {
  border: 0;
  padding: 10px;
}

section.cadastro table th {
  background: #f0f6fa;
  color: #848d94;
  font-size: 12px;
  padding: 6px 10px;
}

section.cadastro table td {
  border-bottom: 1px solid #f0f6fa;
  font-size: 12px;
}

section.cadastro table tr td:first-child {
  text-align: center;
}

section.cadastro table tr:hover td {
  background: #f0f6fa;
  color: #848d94;
}

section.cadastro table tr td .grid-button {
  opacity: 0;
}

section.cadastro table tr:hover td .grid-button {
  opacity: 1;
}

.row {
  display: block;
  width: 100%;
  clear: both;
}

[class^="col"], [class*="col"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

[class^="col"]:first-child, [class*="col"]:first-child {
  padding-left: 0;
}

[class^="col"]:last-child, [class*="col"]:last-child {
  padding-right: 0;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.32%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  font-weight: bold;
  border-width: 0;
  border-radius: 30px;
  padding: 6px 14px;
  outline: none;
}

.btn+.btn {
  margin-left: 10px;
}

.btn-purple {
  background: #6a0d90;
  color: #ffffff;
}

.btn-purple:hover {
  background: #872aad;
}

.btn-pink {
  background: #fc2aad;
  color: #ffffff;
}

.btn-pink:hover {
  background: #ff5fc3;
}

.btn-gray {
  background: #d8e1eb;
  color: #6a747e;
}

.btn-gray:hover {
  background: #c8d2dc;
}

.input-toggle {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  margin: 0;
}

.input-toggle::before {
  content: 'NÃO';
  background: #97a6b4;
  color: #ffffff;
  font-weight: bold;
  display: block;
  width: 65px;
  padding: 7px 13px;
  padding-left: 30px;
  font-size: 11px;
  border-radius: 20px;
  box-sizing: border-box;
  height: 26px;
}

.input-toggle:checked::before {
  content: 'SIM';
  background: #04d96e;
  padding-left: 13px;
}

.input-toggle::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  background: #ffffff;
  border-radius: 11px;
}

.input-toggle:checked::after {
  left: unset;
  right: 2px;
}