html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  background: #6a0d90;
  display: flex;
  flex-direction: row;
}

header .icon img {
  margin: 8px 20px;
}

header ul.menu-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

header ul.menu-item li {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 12px;
  height: 48px;
  padding: 8px 20px;
  cursor: pointer;
}

header ul.menu-item li i.icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 5px;
}

header ul.menu-item li i.icon.meusjobs { background: url(../images/meusjobs.png); }
header ul.menu-item li i.icon.projetos { background: url(../images/projetos.png); }
header ul.menu-item li i.icon.contratos { background: url(../images/contratos.png); }
header ul.menu-item li i.icon.financeiro { background: url(../images/financeiro.png); }

header ul.menu-item li:hover i.icon.meusjobs { background: url(../images/meusjobs-i.png); }
header ul.menu-item li:hover i.icon.projetos { background: url(../images/projetos-i.png); }
header ul.menu-item li:hover i.icon.contratos { background: url(../images/contratos-i.png); }
header ul.menu-item li:hover i.icon.financeiro { background: url(../images/financeiro-i.png); }

header ul.menu-item li:hover {
  background: #ffffff;
  color: #6a0d90;
}

section.cadastro {
  
}

section.cadastro table {
  border-collapse: collapse;
}

section.cadastro table th,
section.cadastro table td {
  border: 1px solid black;
  padding: 10px;
}